{%extends 'base.html' %}

{%block title%} WAR News {%endblock%}


{%block main%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"
      xmlns:text-align="http://www.w3.org/1999/xhtml">
	<div id="gtco-main">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-12">
					<ul id="gtco-post-list">

					{% for post in war.items %}
						<li class="full entry animate-box" data-animate-effect="fadeIn">
								<div class="entry-desc">
                                    <div style="overflow: hidden;">
                                        <small style="float: left">{{ post.created | safe }}&nbsp;&nbsp;</small>
                                        <h4 style="float: left">{{ post.title | safe }}</h4>
                                    </div>

                                      <p><img src="{{ url_for('static', filename='images/war/' + post.image) }}"
                                              width="20%" height="auto" alt="Иллюстрация" align="left" vspace="5" hspace="5">
									{{ post.body | safe }}</p>
								</div>
						</li>
					{% endfor %}

					</ul>
				</div>
			</div>

<style>

</style>
<nav>
<ul class="pagination">
    {%if not war.has_prev%}
    <li class="page-item disabled"> {%endif%}
        <a class="page-link previous" href="./{{war.prev_num}}">
            <span class="pointer-red" aria-hidden="true">&laquo;</span>
            <span class="side-mark" aria-hidden="true">Previous</span>


        </a>
    </li>
    {%for page in war.iter_pages()%}
        {%if page%} {%if page == war.page%} <li class="page-item active">{%endif%}
                <a class="page-link number" href="{{ url_for('war.displayed',page_num=page)}}">{{page}}</a></li>
            {%else%}
                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
        {%endif%}
    {%endfor%}

    {%if not war.has_next%}
    <li class="page-item disabled"> {%endif%}
    <a class="page-link previous" href="./{{war.next_num}}">
        <span class="side-mark" aria-hidden="true">Next</span>
        <span class="pointer-red" aria-hidden="true"> &raquo;</span>

    </a>
    </li>
</ul>
</nav>

{%endblock%}
