{%extends 'base.html' %}

         {%block title%}
            Blueprint Index page
        {%endblock%}


         {%block main%}
<div>
    <h1>News </h1>

</div>

<div class="col-md-6">
    <form action="{{url_for('war.create_news')}}" method="post" enctype="multipart/form-data">
        {% for field in form%}
            <div class="form-group">
                {{field(class="form-control",placeholder=field.label.text)}}
            </div>
        {%endfor%}
        <input class="btn btn-success" type="submit" value="Submit">
    </form>
</div>
{%endblock%}




